body {
  margin: 0;
  font-family: "Helvetica Neue", Pretendard, sans-serif;
  background: #fafafa;
  color: #222;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  background: white;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.05);
}

h1 {
  font-size: 40px;
  color: #b30000;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  margin-top: 40px;
  border-left: 5px solid #b30000;
  padding-left: 12px;
}

a {
  color: #b30000;
  text-decoration: b;
}

a:hover {
  text-decoration: underline;
}
