/* style.css — HTML 태그 금지! CSS만 */
/* style.css */
body {
  background: linear-gradient(to right,
   red 5%,
   white 5%,95%
   red 5%);
  background-repeat: no-repeat;
margin: 0;
} 
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}
h1 {
    font-size: 28px;
    font-weight: 700;
}